.parent {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.child {
  width: 768px;
  margin: auto;
  padding: 10px 0;
  /* border: 1px solid #000000; */
  text-align: center;
}

.child p {
  padding: 1em;
}

.intro {
  border: none;
}
